<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="description" content="nerds team from correctiv.org – news apps, data journalism, interactive visualisations">
  <meta name="keywords" content="news apps, Correctiv, Correct!v, Journalist, Django, Python, Datenjournalismus, ddj, correctiv.org, jornalism, data, code, ">
  <meta name="author" content="correctiv.org">

  <title>{% if page.title %}{{ page.title | escape }} :: {% endif %}{{ site.title | escape }}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  {% assign custom_url = site.url | append: site.baseurl %}
  {% assign full_base_url = custom_url | default: site.github.url %}
  <link rel="stylesheet" href="{{ "/css/main/index.css" | prepend: full_base_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: full_base_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | prepend: full_base_url }}">
</head>
